.product-contain{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
  
  .product-upload-container {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .product-upload-container p{
    color:#e79595;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
  }
  
  input[type='text'],
  input[type='number'],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type='file'] {
    display: none;
  }
  
  .file-input-label {
    display: block;
    background-color: #e79595;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  .file-input-label:hover {
    background-color: #d17d7d;
  }
  
  button[type='submit'] {
    background-color: #e79595;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #d17d7d; 
  }

  .uploadSubmit{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
  }
  