
.FCP{
    font-size: 44px;
    font-weight: 600;
    color: #000;
    margin-bottom: -20px;
}
.FCF{
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 0%;
}
.FCS{
    width: 80%;
}
.FCSP{
    font-size: 30px;
    font-weight: 600;
}
.FCN{
    align-self: center;
    margin-top: 60px;
}
.FCN li{
    list-style: none;
}

.FCN li a{
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 600;
}
.FCT{
    display: grid;
    grid-template-columns: 6% 6% 6%;
}