.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 50px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  .label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #000;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color:rgb(241, 145, 88);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  